<div class="pokemon_manager">
    <%= link_to "User Search", search_path, id: "red-link" %>
    <div>|</div>
    <%= link_to "Friends", "users/friends", id: "aqua-link" %>
</div>
<div class="nav-divider">
    <div class="nav-divider-inner nav-divider-red"></div>
    <div class="nav-divider-inner nav-divider-yellow"></div>
    <div class="nav-divider-inner nav-divider-green"></div>
    <div class="nav-divider-inner nav-divider-aqua"></div>
    <div class="nav-divider-inner nav-divider-blue"></div>
</div>