<div class="page_title">
    <h1 class="h1_title">
    <%= @user_display.name.capitalize %>
    <% if @user_display.id != @user.id %>
       -  Add Friend
    <% end %>
    </div>
</div>

<div class="page_content">
    <div class="user_content">
        <div class="user_links"><%= link_to "View #{@user_display.name.capitalize}'s Pokemon (#{@user_display.pokemons.count})", user_pokemons_path(@user_display) %></div>
        <div class="user_links"><%= link_to "View #{@user_display.name.capitalize}'s Teams", user_teams_path(@user_display) %></div>
        <div class="user_links">
            <% if @params_id == @user.id %>
                <%= link_to "Create New Team", new_user_team_path(@user.id) %>
            <% end %>
        </div>
    </div>
</div>