<div class="index_image">
</div>

<div class="index_copy">
    <h1 class="index_title">Welcome to Pokémon Simulator!</h1>
    <p class="index_body_copy">Pokémon Simulator lets you live our your Pokémon dreams, collect Pokémon, create teams, and battle other trainers. Join the community now!</p>
    <div class="sign_up_index_btn">Sign Up Now!</div>
</div>