<div class="index-grid">
    <div class="legendary-pokemon-frame">
        <div class="legendary-pokemon-frame-image">
        </div>
        <div class="legendary-pokemon-image-tag">Catch Your First Pokemon!</div>
        <div class="legendary-pokemon-frame-description">
            <h1>Start Your Pokémon Journey!</h1>
            <p>Catch Pokémon, form your teams, battle your friends, and more on Pokémon Simulator. </p>
            <div class="sign_up_btn">Sign Up Today</div>
        </div>
    </div>
    <div class="site-description-frame">
        <div class="site-description-frame-description">
                <h1>Collect all of your favorite Pokémon</h1>
            </div>
        <div class="site-description-frame-image"></div>
    </div>
</div>
