<div class="index-grid">
    <div class="legendary-pokemon-frame">
        <div class="legendary-pokemon-frame-image">
        </div>
        <div class="legendary-pokemon-image-tag">Catch Your First Pokemon!</div>
        <div class="legendary-pokemon-frame-description">
            <h1>Start Your Pokémon Journey!</h1>
            <p>Catch Pokémon, form your teams, battle your friends, and more on Pokémon Simulator. </p>
            
        </div>
    </div>
    <div class="site-description-frame">
        <div class="site-description-frame-image"></div>
        <div class="site-description-frame-description">
            <h1>Lorem Ipsum</h1>
            <p>This is just filler text until I get something real in here blah blah.</p>
        </div>
    </div>
</div>

<!-- 
<div class="index_image">
</div>


<div class="index_copy">
    <h1 class="index_title">Welcome to Pokémon Simulator!</h1>
    <p class="index_body_copy">Pokémon Simulator lets you live our your Pokémon dreams, collect Pokémon, create teams, and battle other trainers. Join the community now!</p>
    <div class="sign_up_index_btn">Sign Up Now!</div>
</div>
-->