<div id="pokemon_manager_mobile" class="pokemon_manager">
Menu
</div>
<div class="pokemon_manager" id="pokemon_manager_largescreens">
    <div class="pokemon_manager_link"><%= link_to "Inventory", items_path, id: "red-link" %></div>
    <div class="layout_divider">|</div>
    <div class="pokemon_manager_link"><%= link_to "Shop", stores_path, id: "aqua-link" %></div>
</div>
<div class="nav-divider">
    <div class="nav-divider-inner nav-divider-red"></div>
    <div class="nav-divider-inner nav-divider-yellow"></div>
    <div class="nav-divider-inner nav-divider-green"></div>
    <div class="nav-divider-inner nav-divider-aqua"></div>
    <div class="nav-divider-inner nav-divider-blue"></div>
</div>

<%= javascript_pack_tag 'pokemonmenu', 'data-turbolinks-track': 'reload' %>