<%= render :partial => "items/itemlayout" %>

<div class="page_title">
    <h1 class="h1_title">
        Inventory
    </div>
</div>

<div class="page_content">

    <div class="total_inventory">
        <% @items.each do |item| %>
        <div class="inventory_items">
            <div><%= image_tag(item.sprite) %></div>
            <div><%= capitalize_name(item.name) %></div>
            <div>Quantity: <%= @quantities[:"#{item.id}"] %></div>
        </div>
        <% end %>
    </div>
</div>