<div class="pokemon_types">
    <% @all_types.each do |type| %>
        <%= content_tag(:div, class: ["#{type}_nav", "pokemon_type_inner"]) do %>
            <%= link_to type, "/pokemons/show_pokemon_type/#{type}" %>
        <% end %>
    <% end %>
</div>