// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

  /* Inventory */

  .total_inventory {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .inventory_items {
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-color: black;
  }