// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.search_results {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.search_results a {
    color: #0045A9;
    line-height: 200%;
}

.search_results a:hover {
    color: #FCCE00;
    text-decoration: underline;
    line-height: 200%;
}