// Place all the styles related to the pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pokemon_types {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,0.1);
}

/*New Pokemon*/

.hatch_a_pokemon {
    background-color: white;
    padding: 20px, 0px 0px 20px;
    display: flex;
    justify-content: center;
}

.hatch_pokemon_image_flex_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hatch_pokemon_image img {
  align-self: center;
  max-width: 100%;
  margin-bottom: 10px;
}

/*Pokemon Manager Layout*/
.pokemon_manager {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0px 10px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 3px 2px -2px rgba(0,0,0,0.1);
  }

  .pokemon_types {
      background-color: lightgrey;
      padding: 10px 0px 10px 0px;
      margin-bottom: 20px;
      color: black;
  }

  .pokemon_type_inner a {
      font-family: 'Exo 2', sans-serif;
  }

  .pokemon_type_inner a:hover {
    color: white;
    font-family: 'Exo 2', sans-serif;
    text-decoration: underline;
}

  .pokemon_manager a {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    color: #19191b;
  }

.pokemon_all_display {
    text-align: center;
    padding: 10px
}

.pokemon_flex_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a#edit_pokemon_id {
  color: #FCCE00;
  font-size: 15px;
}

a#edit_pokemon_id:hover {
  color: #FCCE00;
  font-size: 15px;
  text-decoration: underline;
}

a#delete_pokemon_id {
  color: #EA151A;
  font-size: 15px;
}

a#delete_pokemon_id:hover {
  color: #EA151A;
  font-size: 15px;
  text-decoration: underline;
}

a, a:link, .pokemon_view_all_links {
    text-decoration: none;
    color: black;
}

/*capture pokemon page*/

.capture_pokeball_options {
  margin-top: 15vh;
}

.no_pokeballs {
  color: #1659a3;
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  text-align: center;
}

.no_pokeballs a {
  color: #65B356;
}

.no_pokeballs a:hover {
  color: #fdcd00;
  text-decoration: underline;
}



/*Backgrounds for Pokemon displaying on a single page */

.normal {
  border-style: solid;
  border-width: 2px;
  border-color: #9ca16c;
  background-color: #c3c79d;
  background: repeating-linear-gradient(
  45deg,
  #c3c79d,
  #c3c79d 30px,
  #dcdfc0 30px,
  #dcdfc0 60px
  );
}

.fire {
  border-style: solid;
  border-width: 2px;
  border-color: #bf2a16;
  background-color: #fa8f7a;
  background: repeating-linear-gradient(
  45deg,
  #fa8f7a,
  #fa8f7a 30px,
  #fbc379 30px,
  #fbc379 60px
  );
}

.water {
  border-style: solid;
  border-width: 2px;
  border-color: #1659a3;
  background-color: #96edfa;
  background: repeating-linear-gradient(
  45deg,
  #96edfa,
  #96edfa 30px,
  #62c6f0 30px,
  #62c6f0 60px
  );
}

.grass {
  border-style: solid;
  border-width: 2px;
  border-color: #3a7231;
  background-color: #c2df5e;
  background: repeating-linear-gradient(
  45deg,
  #c2df5e,
  #c2df5e 30px,
  #dcf19c 30px,
  #dcf19c 60px
  );
}

.electric {
  border-style: solid;
  border-width: 2px;
  border-color: #9b5b23;
  background-color: #fff88b;
  background: repeating-linear-gradient(
  45deg,
  #fff88b,
  #fff88b 30px,
  #ffd235 30px,
  #ffd235 60px
  );
}

.ice {
  border-style: solid;
  border-width: 2px;
  border-color: #539fe0;
  background-color: #cceaf5;
  background: repeating-linear-gradient(
  45deg,
  #cceaf5,
  #cceaf5 30px,
  white 30px,
  white 60px
  );
}

.fighting {
  border-style: solid;
  border-width: 2px;
  border-color: #942698;
  background-color: #bf423f;
  background: repeating-linear-gradient(
  45deg,
  #bf423f,
  #bf423f 30px,
  #d16c62 30px,
  #d16c62 60px
  );
}

.poison {
  border-style: solid;
  border-width: 2px;
  border-color: #b01f29;
  background-color: #9139aa;
  background: repeating-linear-gradient(
  45deg,
  #9139aa,
  #9139aa 30px,
  #985abc 30px,
  #985abc 60px
  );
}

.ground {
  border-style: solid;
  border-width: 2px;
  border-color: #d6bb5c;
  background-color: #e3cf8a;
  background: repeating-linear-gradient(
  45deg,
  #e3cf8a,
  #e3cf8a 30px,
  #f1e5bb 30px,
  #f1e5bb 60px
  );
}

.flying {
  border-style: solid;
  border-width: 2px;
  border-color: #a37bef;
  background-color: #c3a6f9;
  background: repeating-linear-gradient(
  45deg,
  #c3a6f9,
  #c3a6f9 30px,
  #e0d0fd 30px,
  #e0d0fd 60px
  );
}

.psychic {
  border-style: solid;
  border-width: 2px;
  border-color: #ee3f80;
  background-color: #f5679c;
  background: repeating-linear-gradient(
  45deg,
  #f5679c,
  #f5679c 30px,
  #fa97bc 30px,
  #fa97bc 60px
  );
}

.bug {
  border-style: solid;
  border-width: 2px;
  border-color: #418d41;
  background-color: #65b565;
  background: repeating-linear-gradient(
  45deg,
  #65b565,
  #65b565 30px,
  #94d694 30px,
  #94d694 60px
  );
}

.rock {
  border-style: solid;
  border-width: 2px;
  border-color: #9a6e2f;
  background-color: #b58b4e;
  background: repeating-linear-gradient(
  45deg,
  #b58b4e,
  #b58b4e 30px,
  #d3ac76 30px,
  #d3ac76 60px
  );
}

.ghost {
  border-style: solid;
  border-width: 2px;
  border-color: #67478e;
  background-color: #8861a9;
  background: repeating-linear-gradient(
  45deg,
  #8861a9,
  #8861a9 30px,
  #ab82c6 30px,
  #ab82c6 60px
  );
}

  .dark {
    border-style: solid;
    border-width: 2px;
    border-color: #634e3f;
    background-color: #866c5a;
    background: repeating-linear-gradient(
    45deg,
    #866c5a,
    #866c5a 30px,
    #b19886 30px,
    #b19886 60px
    );
  }

  .dragon {
    border-style: solid;
    border-width: 2px;
    border-color: #7000f9;
    background-color: #9c4dfc;
    background: repeating-linear-gradient(
    45deg,
    #9c4dfc,
    #9c4dfc 30px,
    #c18fff 30px,
    #c18fff 60px
    );
  }
 
  .steel {
    border-style: solid;
    border-width: 2px;
    border-color: #7f7d8d;
    background-color: #b1aeca;
    background: repeating-linear-gradient(
    45deg,
    #b1aeca,
    #b1aeca 30px,
    #cdcbe1 30px,
    #cdcbe1 60px
    );
  }
  
  .fairy {
    border-style: solid;
    border-width: 2px;
    border-color: #c86878;
    background-color: #e9aab5;
    background: repeating-linear-gradient(
    45deg,
    #e9aab5,
    #e9aab5 30px,
    #f4d3d8 30px,
    #f4d3d8 60px
    );
  }

  