// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.user_links a {
    color: #0045A9;
}

div.user_links a:hover {
    color: #FCCE00;
    text-decoration: underline;
}